networks:
  gemini:
    name: gemini
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.100.0/24

services:
  gemini-oracle:
    image: scylladb/scylla:${SCYLLA_ORACLE_VERSION:-6.2}
    container_name: gemini-oracle
    restart: unless-stopped
    command: --smp 8 --memory 4096M --api-address 0.0.0.0
    expose:
      - "10000"
      - "9042"
      - "19042"
    networks:
      gemini:
        ipv4_address: 192.168.100.2

  gemini-test-1:
    image: scylladb/scylla:${SCYLLA_TEST_VERSION:-2025.1}
    container_name: gemini-test-1
    restart: unless-stopped
    command: --smp 3 --memory 1024M --api-address 0.0.0.0
    expose:
      - "10000"
      - "9042"
      - "19042"
    networks:
      gemini:
        ipv4_address: 192.168.100.3
  gemini-test-2:
    image: scylladb/scylla:${SCYLLA_TEST_VERSION:-2025.1}
    container_name: gemini-test-2
    restart: unless-stopped
    command: --smp 2 --memory 1024M --api-address 0.0.0.0 --seeds=gemini-test-1
    expose:
      - "10000"
      - "9042"
      - "19042"
    networks:
      gemini:
        ipv4_address: 192.168.100.4
  gemini-test-3:
    image: scylladb/scylla:${SCYLLA_TEST_VERSION:-2025.1}
    container_name: gemini-test-3
    restart: unless-stopped
    command: --smp 2 --memory 1024M --api-address 0.0.0.0 --seeds=gemini-test-1
    expose:
      - "10000"
      - "9042"
      - "19042"
    networks:
      gemini:
        ipv4_address: 192.168.100.5
