name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Lint Test and Build
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          repo: gotestfmt
          version: v2.2.0
      - name: Build
        run: make build
      - name: Unit Tests
        run: |
          ulimit -n 65536
          sudo sysctl -w fs.aio-max-nr=30000000
          sudo sysctl -w fs.file-max=30000000
          sudo make scylla-setup
          export GEMINI_USE_DOCKER_SCYLLA=true
          export GEMINI_TEST_CLUSTER_IP=192.168.100.3
          export GEMINI_ORACLE_CLUSTER_IP=192.168.100.2
          echo "Test cluster IP: $TEST_CLUSTER_IP"
          echo "Oracle cluster IP: $ORACLE_CLUSTER_IP"

          make test
      - uses: golangci/golangci-lint-action@v8
        name: Linting
        with:
          install-mode: goinstall
