name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Lint Test and Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          check-latest: true
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          repo: gotestfmt
          version: v2.2.0
      - name: Build
        run: make build
      - name: Unit Tests
        run: |
          ulimit -n 65536
          sudo sysctl -w fs.aio-max-nr=30000000
          sudo sysctl -w fs.file-max=30000000

          make test
      - uses: golangci/golangci-lint-action@v8
        name: Linting
