name: Gemini Integrations Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name:
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - name: Build
        run: make build
      - uses: actions/upload-artifact@v4
        with:
          name: bin
          path: "./bin/gemini"
          if-no-files-found: error
          retention-days: 1
  test:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gemini-features: ["basic", "normal"]
        gemini-concurrency: [4]
        duration: ["5m"]
        dataset-size: [large]
        oracle-scylla-version: ["6.1"]
        test-scylla-version: ["6.2"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Start ScyllaDB
        id: scylla
        shell: bash
        run: |
          chmod +x ./bin/gemini
          make scylla-setup \
            SCYLLA_TEST_VERSION=${{ matrix.test-scylla-version }} \
            SCYLLA_ORACLE_VERSION=${{ matrix.oracle-scylla-version }}
      - name: Test
        shell: bash
        run: |
          make integration-test \
            CONCURRENCY=${{ matrix.gemini-concurrency }} \
            CQL_FEATURES=${{ matrix.gemini-features }} \
            DURATION=${{ matrix.duration }} \
            WARMUP=30s \
            DATASET_SIZE=${{ matrix.dataset-size }}
      - name: Shutdown ScyllaDB
        shell: bash
        run: |
          make scylla-shutdown \
            SCYLLA_TEST_VERSION=${{ matrix.test-scylla-version }} \
            SCYLLA_ORACLE_VERSION=${{ matrix.oracle-scylla-version }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results-${{ matrix.gemini-features }}-${{ matrix.gemini-concurrency }}-${{ matrix.duration }}-${{ matrix.dataset-size }}-${{ matrix.test-scylla-version }}-${{ matrix.oracle-scylla-version }}-${{ github.run_number }}
          path: ./results
          if-no-files-found: error
          retention-days: 1
